fastapi>=0.103.0
uvicorn[standard]>=0.23.2
aiohttp>=3.8.0
apscheduler==3.10.4
prometheus_client==0.19.0
PyYAML==6.0.2
redis>=5.0.0
pydantic>=2.10.2
asyncio==3.4.3
python-multipart>=0.0.9
typing-extensions>=4.8.0,<5 